.box-email{
	background-image: url('../images/background-verify.png');
    width: 370.16px;
    height: 348.32px;
    border-radius: 36.3px;
}

.content-logo-title {
	padding: 20px 0 20px 0;
}

.content-image-ok {
	padding: 20px 0 20px 0;
}

.local{
	padding: 5% 33.8%;
}

.text-verify{
	font-size: 26px;
	font-family: 'Poppins';
	font-weight: 800;
	color:#F3F4F4;
}
